body {
  margin:0 auto;
  background-color:lightgray;
}

.square {
  border:1px solid;
  height:200px;
  width:200px;
  font-size:75px;
  text-align:center;
}

table{
  justify-content: center;
  margin:0 auto;
}

p {
  text-align:center;
  font-size:80px;
}

.square:hover {
  transition:1s;
  transform: scale(1.5);
  background-color:grey;
}

.resetButton{
margin-top:25px;
font-size:20px;
border-radius:20px;
background-color:lightgray;
}